@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: hsl(220, 15%, 55%);
    height: 100vh;
}
.qr-flex{
    background-color: hsl(0, 0%, 100%);
    border-radius: .8rem;
    width: 20vw;
    text-align: center;
    padding: .5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.qr-img img{
    width: 100%;
    border-radius: .5rem;
}
.qr-text1 h3{
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    padding: .7rem 0;
}
.qr-text1 p{
    font-size: .8rem;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    padding-bottom: 1.3rem;
}







@media (max-width: 950px) {
    main{
        width: 85vw;
    }
    .qr-flex{
        width: 50vw;
        border: 1px solid red;
    }
}