@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: hsl(220, 15%, 55%);
    height: 100vh;
}
.qr-flex{
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    width: 20vw;
    /* margin: auto; */
    text-align: center;
    padding: .5rem;
    position: absolute;
    left: calc(50% - ;
}
.qr-img{
    /* border: 1px solid blue; */
}
.qr-img img{
    width: 100%;
    border-radius: .5rem;
}
.qr-text1{
    border: 1px solid blue;
   
}
.qr-text1 h3{
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
}
.qr-text1 p{
    font-size: .8rem;
    font-family: 'Outfit', sans-serif;
    color: hsl(212, 45%, 89%);
}